:root {
  --color-accent: oklch(96.02% 0.0171 67.62);
}

body {
  /* Set line height to 1.5 times the font size
        and use the OS’s UI font as the website font
      */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 20px;

  nav {
    display: flex;
    margin-bottom:20px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:oklch(80.59% 0.0549 65.08);
    ul {
      display: contents;
      li {
        display: contents;
        a {
          flex: 1;
          text-decoration: none;
          color: inherit;
          text-align: center;
          padding:0.5em;

        }
        a.current {
          border-bottom-width: 0.4em;
          border-bottom-style: solid;
          border-bottom-color: oklch(89.69% 0.0365 67.33);
        }

        a:hover {
          accent-color: var(--color-accent);
          border-bottom-width: 0.4em;
          border-bottom-style: solid;
          border-bottom-color: var(--color-accent);
          background-color: oklch(from var(--color-accent) 95% 5% h);
        }
        
      }
    }
  }

  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    grid-template-columns: subgrid;
    
    label {
      display: grid;
      grid-column: 1 / -1;

      input, textarea, button {
        font: inherit;
      }
    }

  }
}