body {
  /* Set line height to 1.5 times the font size
        and use the OS’s UI font as the website font
      */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 20px;

  nav {
    display: flex;
    margin-bottom:20px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:oklch(80% 3% 200);
    ul {
      display: contents;
      li {
        display: contents;
        a {
          flex: 1;
          text-decoration: none;
          color: inherit;
          text-align: center;
          padding:0.5em;
          
        }
        a.current {
          border-bottom-width: 0.4em;
          border-bottom-style: solid;
          border-bottom-color: oklch(83.9% 0.012000000000000002 200);
        }
        
      }
    }
  }

}